body{
    margin: 0;
    background: rgb(255, 255, 255);
    padding: 0;
    
}

#titulo{
     height: 37rem;
     background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

#titulo h1{
   
    display: block;
    position: relative;
    padding-left: 26rem;
    top:-15rem;
    object-fit:cover;
    
}
#titulo h2{
    
    
    position: relative;
    padding-left:26rem;
    top:-14rem;
}

.sub-expand-md{
   
    padding-left: 250px;
    padding-right: 250px;
    height: -200px;
    margin-top: 80px;
    margin-bottom: 50px;
}
h1{
     color:white;
     text-align: center;
     font-weight: bold;
     font-size: 3rem;
}
h2{
    color:coral;  
    text-align: center;
    font-weight: bold;
}
.navbar-nav{

    margin-left:auto;    
}

.navbar-toggler{
    margin-left:auto ;    
}

.Smi{
    margin:auto;
}


.img-fluid{
    object-fit: contain;
    width: 300px;
    margin-top: -114px;
    margin-left: 12px;
    border-radius: 90px;
}

.contimg{
    
    width: 300px;
    height: 292px;
    border-radius: 100px;
    position: relative;
    left: 100px;
    top: 140px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: drop-shadow( 20px 20px 20px rgba(0, 0, 0, 0.863));
    transition: all 300ms;
}
#moverimg:hover{

    transform: scale(1.05);
    
}
.texSobre{
    font-size: 28px;
    margin-top: -150px;
    margin-left:-150px ;
    margin-right: -150px;
    line-height: 50px;
    color:slategray;
    display:contents;
    
}
.ski-expand-md{
    background: teal;
    position: relative;
}

.col{
    margin-left: 180px;
    margin-bottom: 190px;
    margin-top: 160px;
}
.len{
    width: 100%;
    height: 150px;
    filter: drop-shadow( 15px 15px 15px  rgba(0, 0, 0, 0.500));
    transition: all 300ms;
    border-radius: 10px;
    object-fit: contain;
}
#galeria{
 margin-top: 13rem; 
 padding: 10px;
 margin-right: 11px;
}

#galeria img:hover{
 
    transform: scale(1.05);
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    filter: drop-shadow( 20px 20px 20px rgba(0, 0, 0, 0.863));
}


#too{  
   height: 43rem;
   width: 24rem;
   border: solid;
   overflow-x: auto;
   margin-left: 11rem;
   position: absolute;
}
.cajasvg{
    width: 400px;
    height: 400px;
    
    margin-left: 10rem;
    margin-right: 90rem;
    
    margin-top: 4rem;
    
}

.imgsvg{
    width: 400px;
    height: 400px;
    object-fit: contain;
   
}
.actitudes{
 font-size: 1cm;
 color: coral;
 
}
